In [6]:
library(tidyverse)
nnmaps <- read.csv("./chicago-nmmaps.csv")
head(nnmaps)

  city date       temp o3        dewpoint pm10      season yday month
1 chic 1997-01-01 36.0  5.659256 37.50    13.052268 Winter 1    Jan
2 chic 1997-01-02 45.0  5.525417 47.25    41.948600 Winter 2    Jan
3 chic 1997-01-03 40.0  6.288548 38.00    27.041751 Winter 3    Jan
4 chic 1997-01-04 51.5  7.537758 45.50    25.072573 Winter 4    Jan
5 chic 1997-01-05 27.0 20.760798 11.25    15.343121 Winter 5    Jan
6 chic 1997-01-06 17.0 14.940874  5.75     9.364655 Winter 6    Jan
  month_numeric year
1 1             1997
2 1             1997
3 1             1997
4 1             1997
5 1             1997
6 1             1997

In [23]:
get_temp <- function(month, 
                     year, 
                     data, 
                     celsius = FALSE, 
                     average_fn = mean) {
    # Sanitize the input
    months_abb <- c("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec")
    months_num <- c(1:12)
    months_name <- c("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December")

    if (month %in% months_abb) {
        month <- match(month, months_abb)
    } else if (month %in% months_name) {
        month <- match(month, months_name)
    }
    else if (month %in% months_num) {
        month <- as.numeric(month)
    } else {
        cat("Invalid month input", month, ". Should be an integer between 1 and 12 (for example, 1)or a string of month name (for example, January) or abbreviation (for example, Jan). Not case sensitive.\n")
        return 
    }

    year <- as.integer(year)

    if (!is.integer(year) || year < 1997 || year > 2000) {
        cat("Invalid year input", year, ". Should be an integer between 1997 and 2000 (inclusive).\n")
        return 
    }
    if (!is.data.frame(data)) {
        cat("Invalid data input", data, ". Should be a data frame.\n")
        return 
    }
    if (!is.logical(celsius)) {
        cat("Input celsius input", celsius, ". Should be a logical value TRUE or FALSE.\n")
        return 
    }
    if (!is.function(average_fn)) {
        cat("Input average_fn input", average_fn, ". Should be a function.\n")
        return 
    }
    month_tmp <- month
    year_tmp <- year 
    # print(month_tmp, year_tmp)
    # Compute the average temperature
    data %>%
        filter(month_numeric == month_tmp & year == year_tmp) %>%
        summarise(avg_temp = average_fn(temp)) %>%
        mutate(avg_temp = ifelse(celsius == TRUE, (avg_temp - 32) * 5 / 9, avg_temp)) %>%
        pull(avg_temp) %>%

    # Return a numeric vector of length 1
    return
}

In [10]:
average_fn = function(x) {
    x %>% sort -> x
    x[2:(length(x) - 1)] %>% mean %>% return
}

In [16]:
nnmaps %>% 
    filter(month_numeric == 1 & year == 1997) %>%
    summarise(avg_temp = mean(temp))

  avg_temp
1 19.66129

In [24]:
get_temp("November", 1999, data =nnmaps, celsius = TRUE,
         average_fn = function(x) {
           x %>% sort -> x
           x[2:(length(x) - 1)] %>% mean %>% return
         })

[1] 7.301587